@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0:#67C86D;
    --color1: #ff0008;
    --text-color: #374659;
    --bg-color:#e4f3e5;
    --fonte-padrao: "Poppins", Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: var(--fonte-padrao);
}

body{
    background: var(--bg-color);
}

.container{
    margin: auto;
    max-width: 700px;
    min-width: 300px;
}

.logo{
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--color0);
}

/*----------- (inicio) menu superior -------------*/

nav{
    display: flex;
    justify-content: space-between;
    margin-top:20px
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0%;
    bottom: 0%;
    background-color: var(--color1);
    transition: width .3s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}

nav ul li a.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color1);
}

/*----------- (fim) menu superior -------------*/
header{
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

header h1{
    font-size: 24px;
    margin-bottom: 15px;
}

form .field {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

form .form-label{
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

form .form-label::after{
    content: '*';
    color: var(--color1);
    font-weight: 300;
}

form input[type="text"], 
form input[type="email"] {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--color0);
}

form #iname,
form #imat{
    text-transform: uppercase;
}

form #iemail{
    text-transform: lowercase;
}

form input::placeholder{
    text-transform: none;
    font-size: 14px;
}

/*(start) ----- Estiliza a seção de justificativa de permanencia -----*/

.justification fieldset{
    border: none;
    line-height: 2.5em;
}

.justification fieldset label{
    display: flex;
    font-weight: 400;
    align-items: center;
}

.justification fieldset input[type="radio"]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/*(end) ----- Estiliza a seção de justificativa de permanencia -----*/

form .input-area{
    position: relative;
}

form .input-area input{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    font-size: 15px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-bottom-width: 2px;
}

form .input-area .icon{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 17px;
    color: #aaaaaa;
    pointer-events: none;
    transform: translateY(-50%);
}

form input[type="date"]{
    display: block;
    padding: 15px;
    font-size: 18px;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    border: 2px solid #ccc;
    outline: none;
}

form input[type="date"]:focus{
    border: 2px solid var(--color0);
}

/* -------- (inicio) Botão submit e reset ---------*/

.btn-area{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-area button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]{
    width: 140px;
    color: #fff;
    text-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.192);
    font-weight: 400;
    background-color: var(--color0);
    transition-property: background-color;
}

button[type="submit"]:hover{
    background-color: #60bb66;
}

button[type="reset"]{
    width: 100px;
    background-color: transparent;
}
button[type="reset"]:hover{
    background-color: #D0D0D7;
}

/* -------- (fim) Botão submit e reset ---------*/

footer{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 12px;
}